/*Home*/

* {
    font-family: 'Roboto Mono', monospace;
}

#logo {
    object-fit: cover;
}

.nav-item {
    margin: 0px 20px;
}

.navbar-nav li a {
    color: #F1F9EE;
}

.credentials :first-child {
    padding: 8px 35px;
    background-color: #FFD33B;
    border-radius: 15px;
    border: none;

    transition: all 0.8s ease;
}

.credentials :first-child:hover {
    transition: all 0.6s ease;
    filter: brightness(50%);
}

.credentials :last-child {
    color: #D9D9D9;
    padding: 8px 30px;
    background-color: #284A76;
    border-radius: 15px;
    border: none;
    transition: all 0.8s ease;
}

.credentials :last-child:hover {
    transition: all 0.6s ease;
    filter: brightness(50%);
}

.home {
    min-height: 90vh;
    background: url("/assets/images/Home/principal.jpg");
    background-size: cover;
    background-position: center;
}

.home .container button {
    background-color: #FF2273;
    border-radius: 15px;
    color: #D9D9D9;
    font-weight: bold;
    padding: 8px 40px;

    transition: all 0.8s ease;
}

.home .container button:hover {
    transition: all 0.6s ease;
    filter: brightness(50%);
}

.home-h, .home-p {
    color: #F1F9EE;
    text-shadow: black 3px 3px 2px;
}

.home .container h1 {
    font-size: 3rem;
}

.home .container {
    padding-top: 20vh;
}

/*Services*/
.services {
    background-color: #F1F9EE;
    color: #2A1E25;
    padding: 2rem;
    text-align: center;
}

.title-service {
    font-family: 'Roboto Mono';
    font-weight: bold;
    font-size: 5rem;
    padding: 5rem;
}

.section-service {
    padding: 2rem 5rem;
}

.image-service {
    width: 15rem;
    height: 15rem;
    left: 15rem;
    top: 15rem;
}

.services-title {
    padding: 1.5rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.service-p {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
}

/*Download and Abou Us*/

.Download{
    background-color: #FFD33B;
    padding: 2rem;
    text-align: center;
}

.Abou-Us{
    padding-top: 1px;
    background-color: #AAA6A6;
    text-align: center;
}

.createproduct {
    margin: 40px;
    font-family: Roboto Mono;
    font-size: 48px;
}

.withjust {
    font-family: M PLUS 1;
    font-size: 30px;
    height: 160px;
}

.downloadnow {
    height: 100px;
    font-family: Roboto Mono;
    font-size: 36px;
}

.stores {
    height: 100px;
}

.app {
    margin-right: 40px;
}

.download {
    margin-right: 20px;
}

.separationdownload {
    margin-bottom: 40px;
}

.aboutus {
    font-size: 64px;
    font-family: Roboto Mono;
    font-weight: bold;
    margin: 80px;
}

.missionpic {
    height: 320px;
    margin-left: 100px;
}

.visionpic {
    height: 320px;
}

.vision {
    padding: 100px;
}

.missiontext {
    padding: 30px;
    font-size: 38px;
    font-family: M PLUS 1;
}

.visiontext {
    padding: 20px;
    font-size: 38px;
    font-family: M PLUS 1;
}

@media (min-width: 320px) and (max-width: 575px) {
    .container {
        width: 635px;
    }

    .withjust {
        font-size: 26px;
    }

    .app {
        margin-right: 115px;
    }

    .downloadnow {
        margin-top: 30px;
        height: 80px;
    }

    .missionpic {
        height: 260px;
    }

    .visionpic {
        height: 260px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .createproduct {
        font-size: 28px;
    }

    .withjust {
        font-size: 22px;
    }

    .app {
        width: 380px;
    }

    .downloadnow {
        margin-top: 10px;
        margin-left: 10px;
    }

    .storespace {
        margin-left: 50px;
    }

    .aboutus {
        font-size: 28px;
    }

    .missiontext {
        font-size: 24px;
    }

    .missionpic {
        padding-right: 100px;
        height: 200px;
    }

    .visiontext {
        font-size: 24px;
    }

    .visionpic {
        height: 250px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .createproduct {
        font-size: 40px;
    }

    .downloadnow {
        margin-top: 50px;
        font-size: 25px;
    }

    .stores {
        height: 80px;
    }
}


/*About the Team*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
}

.aboutTheTeam{
    background-color: #00BFCE;
    color: #F1F9EE;
}
.aboutTheTeam .row div{
    vertical-align: middle;
    height:fit-content;
}

.aboutTheTeam-titulo {
    background-color: #00BFCE;
    height: 150px;
    font-size: 48px;
    font-weight: bold;
}

.row-title {
    font-size: 48px;
}
.row-bio{
    font-size: 32px;
}